
.cardWords {
    font-family: 'Dancing Script', cursive;
    font-size: 15px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    position: absolute;
    text-align: center;
    margin-top: auto; /* Centrar verticalmente */
    bottom: 0;
    right: 50%;
    left: 50%;
  }

.cardImage{
    display: block;
    background-color: rgb(88, 79, 19);
    border-radius: 50%;
}

.container {
    display: flex;
    flex-direction: row;
    margin-left: 1%;
    margin-top: 25%;
    background-size: cover;
    border-radius: 15px;
    height: 300px;
    width: 200px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    background-color: transparent;
    &:hover {
      transform: scale(1.05);
    }
}

.imageContainer{
    border: 1px solid rgb(88, 79, 19);
    border-radius: 50px;
    padding: 3px;
}


.cardButton{
    position: absolute;
    top: 20px;
    left: 20px; 
    padding: 20px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: transparent;
    color: rgba(241, 235, 235, 0.714);
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardButton:hover {
    background-color: rgba(240, 21, 21, 0.904);
    color: rgb(218, 218, 218);
}

.atributes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: right;
    width: 10%;
    height: auto;
    font-size: smaller;
    color: darkgrey;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.favoriteButton{
    position: absolute;
    bottom: -20px;
    left: 20px; 
    padding: 20px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: transparent;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
}

.favoriteButton:hover {
    background-color: rgba(255, 0, 0, 0.408);
    color: red;
}